:root {
    --primary: #22333B;
    --background: #f4f4f4;
    --text: #22333B;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
  }
  
  body {
    background-color: var(--background);
    color: var(--text);
  }
  
  .navbar {

    height: 7dvh;
    font-size: large;
    display: flex;
    justify-content: space-between;

    padding: 1rem 2rem;
    background-color: var(--primary);
    color: #DDEB9D;
  }

  .specific{
    border-radius: 1.5rem;
    margin-top: 2dvh;
    background-color:#22333B;
    color: #DDEB9D;
    display: flex;
    flex-direction: row;
    font-size: larger;
    align-items: center;
    justify-content: space-evenly;
    height: 8dvh;
    width:70dvb;
    overflow: hidden;
    padding: 1rem;
  }
.scroll-content{
    
    background-color:transparent;
    
    display: inline-flex;
    font-size: larger;
    gap: 5rem;
    padding: 0.4rem;
    animation: scroll 10s linear infinite;
}
  @keyframes scroll {

    0%{
        transform: translateX(0);

    }
    100%{
        transform: translateX(-50%);
    }
    
  }
  
  .product-grid {
    display: grid;

    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
    padding: 2rem;
  }
  
  .product-card {
    display: flex;

    flex-direction: column;
    justify-content: space-evenly;
    background: white;
    padding: 1rem;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  }
  
  .product-card img {

    border-radius: 8px;
    
  }
  
  .product-card button {
    bottom: 10px;
    
    padding: 10px 15px;
    background-color: var(--primary);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .cart {
    position: fixed;
    top: 60px;
    right: 0;
    background: white;
    width: 300px;
    max-height: 90vh;
    overflow-y: auto;
    box-shadow: -2px 0 8px rgba(0,0,0,0.2);
    padding: 1rem;
    display: none;
  }
  
  footer {
    text-align: center;
    padding: 1rem;
    background: #ddd;
    margin-top: 2rem;
  }
.banner{
    margin-left: 50%;
    transform: translateX(-50%);
    place-content: center;
}

  
  @media (max-width: 768px) {
    .product-grid {
      grid-template-columns: 1fr;
    }
    .specific{
        margin-top: 2dvh;
        background-color:#22333B;
        color: #DDEB9D;
        display: flex;
        flex-direction: row;
        font-size: larger;
        align-items: center;
        justify-content: space-evenly;
        height: 7dvh;
        width:50dvb;
        overflow: hidden;
        padding: 2rem;
      }
      .banner{
        margin-left: 0%;
        transform: translateX(0%);
      }
  }
  