*{
    margin: 0;
    box-sizing: border-box;
}
:root{
    --background:#FAF6E9;
    --bars:#22333B;
    --text:#DDEB9D;
}

body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #FAF6E9;
    display: grid;
    place-content: center;
    overflow: hidden;
}
.top_bar{
    place-content: center;
    align-items: center;
    text-align: center;
    font-size: large;
    color:#f2f2f2;
    background-color: #22333b;
    height: 5dvh;
    width: 100dvw;
}
.login{
    margin-top: 0;
    display: grid;
    place-content:center;
    height: 40dvh;
    width: 100%;
    position: relative;
    border-bottom: 1px solid #22333B;

}
.form{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top:1rem;
    place-content: top;
    overflow: hidden;
    color: #22333B;
    border: 1px solid #22333B;

    border-radius: 0.5rem;
    display: grid;

    place-content: center;
    text-align: start;
    align-items: start;


    gap: 1.2rem;   
    padding: 2rem;
    height: 35dvh;

 


}
.in{
    border-radius: 0.3rem;
    color: #22333B;
    background-color: transparent;
    height: 3dvh;
    outline: none;
    font-size: large;
    border: 1px solid black;
}
.in:focus{
    box-shadow: 0px 0px 5px #0abaff;
}
.lable{

    font-weight: bold;




  
}
hr{
    width: 2000%;
    margin-left: -100%;
}
.btn{
    font-size: medium;
    font-weight: bold;
    border: none;
    outline: none;
    height: 4dvh;
    border-radius: 1rem;
    background-color:#DDEB9D;
}
.btn:hover{
    background-color: #dbf567;
}
h2{
    font-size: 2rem;
}

h3{
    font-size: 2rem;
}
@media(max-width:700px){
     .form{
        height: 45dvh;
    }
    .login{
        height: 50dvh;
    } 
    .btn{
        height: 6dvh;
    }
    .top_bar{
        height: 7dvh;
    }

}
