<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>$ingh</title>
  <link rel="stylesheet" href="/static/styles1.css" />
</head>

<body>
  <header>
    <nav class="navbar">
      <h1>$ingh</h1>

      <div class="cart-icon" onclick="toggleCart()">
        🛍️ <span id="cart-count">0</span>
      </div>
    </nav>
  </header>

  <main>
    <div class="banner">


      <div class="specific">
        <div class="scroll-content">
          <div onclick="scrolls('men')">Men wear</div>
          <a onclick="scrolls('Women')">Women wear</a>
          <a onclick="scrolls('kids')">Kids wear</a>
          <a onclick="scrolls('men')">Men wear</a>
          <a onclick="scrolls('Women')">Women wear</a>
          <a onclick="scrolls('kids')">Kids wear</a>

        </div>


      </div>
    </div>
    <!-- women section -->
    <section class="product-grid" id="Women">


      <div class="product-card">
        <img src="https://5.imimg.com/data5/ECOM/Default/2023/3/295470000/AA/CJ/CB/11492969/img-0674-500x500.jpg"
          alt="Product 1">
        <h2>Red Saree</h2>
        <p>₹999</p>
        <button onclick="addToCart('Red Hoodie', 999)">Add to Cart</button>

      </div>
      <div class="product-card">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQAwydAcT_A5ZaTxRhvg8-_EOH2PHu7kmddww&s"
          alt="Product 2">
        <h2>Top</h2>
        <p>₹999</p>
        <button onclick="addToCart('Red Hoodie', 999)">Add to Cart</button>

      </div>
      <div class="product-card">
        <img src="https://fcity.in/images/products/343564477/6jmkw_512.jpg"
          alt="Product 3">
        <h2>Kurti</h2>
        <p>₹999</p>
        <button onclick="addToCart('Red Hoodie', 999)">Add to Cart</button>
      </div>
      <div class="product-card">
        <img src="https://www.shoplibas.com/cdn/shop/files/26745.jpg?v=1748354455"
          alt="Product 4">
        <h2>Black Kurti</h2>
        <p>₹999</p>
        <button onclick="addToCart('Red Hoodie', 999)">Add to Cart</button>
      </div>
      <div class="product-card">
        <img src="https://static.cilory.com/376098-large_default/estonished-bottle-green-shirt.jpg"
          alt="Product 5">
        <h2>Green Top</h2>
        <p>₹999</p>
        <button onclick="addToCart('Red Hoodie', 999)">Add to Cart</button>
      </div>
      <div class="product-card">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSx_u5Z3dzIG4075vYyJzMy7z5nbBq88Xi-Rw&s"
          alt="Product 6">
        <h2>Red Hoodie</h2>
        <p>₹999</p>
        <button onclick="addToCart('Red Hoodie', 999)">Add to Cart</button>
      </div>
      <div class="product-card">
        <img src="https://assets.myntassets.com/w_412,q_60,dpr_2,fl_progressive/assets/images/15288076/2021/12/22/ac35ca03-ece6-43a6-b296-4eb31596d3311640155918616-Mast--Harbour-Women-Tshirts-6851640155918255-1.jpg"
          alt="Product 7">
        <h2>Girls Tshirt</h2>
        <p>₹999</p>
        <button onclick="addToCart('Red Hoodie', 999)">Add to Cart</button>
      </div>



  </section>




  <!-- Kids section -->



  <section class="product-grid" id="kids">



      <div class="product-card">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR5rF-uRJVtWPGyB_YPOBUkb572YRyhuOIaHQ&s"
          alt="Product 8">
        <h2>Red Hoodie</h2>
        <p>₹999</p>
        <button onclick="addToCart('Red Hoodie', 999)">Add to Cart</button>

      </div>
      <div class="product-card">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQvix9yMc4eLJLwSA-KUBcaioK-1T__by72vA&s"
          alt="Product 9">
        <h2>Kids Hoodie</h2>
        <p>₹999</p>
        <button onclick="addToCart('Red Hoodie', 999)">Add to Cart</button>

      </div>
      <div class="product-card">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRroXTBIujCpTS8gu7gHjV_NUlP3TVrxUySYA&s"
          alt="Product 10">
        <h2>shirt</h2>
        <p>₹999</p>
        <button onclick="addToCart('Red Hoodie', 999)">Add to Cart</button>

      </div>
      <div class="product-card">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTzoZLfMcZVWh5vvEA_0HLThUAbqCKsk8kQLw&s"
          alt="Product 11">
        <h2>jeans</h2>
        <p>₹999</p>
        <button onclick="addToCart('Red Hoodie', 999)">Add to Cart</button>

      </div>
      <div class="product-card">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRxg6LCDI3UiWUwccSvGXKZndr5OVIC17xRZg&s"
          alt="Product 12">
        <h2>Cap</h2>
        <p>₹999</p>
        <button onclick="addToCart('Red Hoodie', 999)">Add to Cart</button>

      </div>
      <div class="product-card">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR5rF-uRJVtWPGyB_YPOBUkb572YRyhuOIaHQ&s"
          alt="Product 13">
        <h2>Red Hoodie</h2>
        <p>₹999</p>
        <button onclick="addToCart('Red Hoodie', 999)">Add to Cart</button>

      </div>




  </section>

  <!-- men section -->

  
  <section class="product-grid" id="men">


      <div class="product-card">
        <img src="https://media.powerlook.in/catalog/product/d/p/dp21146521_1.jpg?aio=w-640"
          alt="Product 15">
        <h2>Shirt</h2>
        <p>₹999</p>
        <button onclick="addToCart('Red Hoodie', 999)">Add to Cart</button>

      </div>
     
        <div class="product-card">
          <img src="https://i.pinimg.com/736x/30/7a/4c/307a4c91b8fa3fa374789d5fb63923c5.jpg"
            alt="Product 16">
          <h2>Coat</h2>
          <p>₹999</p>
          <button onclick="addToCart('Red Hoodie', 999)">Add to Cart</button>

        </div>

        <div class="product-card">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQSaGVId7VlhqjIewgfHmnXxmdD6_5wfR5T_A&s" 
          alt="Product 17">
          <h2>jersy</h2>
          <p>₹1999</p>
          <button onclick="addToCart('Black Sneakers', 1999)">Add to Cart</button>
        </div>
        <div class="product-card">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTW6nJJ-6OWGrGJqzTICrO8MvpGZWwFfV9WFg&s" 
          alt="Product 18">
          <h2>jersy</h2>
          <p>₹1999</p>
          <button onclick="addToCart('Black Sneakers', 1999)">Add to Cart</button>
        </div>
        
        <div class="product-card">
          <img src="https://5.imimg.com/data5/SELLER/Default/2022/5/KG/MW/RV/65727/vintage-leather-wallet-500x500.jpg" 
          alt="Product 19">
          <h2>Wallet</h2>
          <p>₹1999</p>
          <button onclick="addToCart('Black Sneakers', 1999)">Add to Cart</button>
        </div>

        <div class="product-card">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTQ1duG0iY3I8HxvZttAK1jh3ZiuXLLonD7VQ&s" 
          alt="Product 20">
          <h2>watch</h2>
          <p>₹1999</p>
          <button onclick="addToCart('Black Sneakers', 1999)">Add to Cart</button>
        </div>

        <div class="product-card">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS-Gpc46lswOn55G9nfnWpP5fyblHOqquoeDQ&s" 
          alt="Product 21">
          <h2>belt</h2>
          <p>₹1999</p>
          <button onclick="addToCart('Black Sneakers', 1999)">Add to Cart</button>
        </div>
  </section>

    <div class="cart" id="cart">
      <h2>Your Cart</h2>
      <ul id="cart-items"></ul>
      <p>Total: ₹<span id="cart-total">0</span></p>
    </div>
  </main>

  <footer>
    <p>© 2025 BroMart. No refunds, just regrets 😎</p>
  </footer>

  <script src="/static/script.js"></script>
</body>

</html>