<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no">
    <title>Home Page</title>
    <link rel="stylesheet" href="/static/styles1.css">
</head>
<body>
    <div class="content">
        <div class="navbar">
            <div class="h">
                $ingh
            </div>
            <div class="profile">
                <a href="#">cart</a>
                <a href="#">profile</a>
            </div>
        </div>
        <div class="lower">
            <div class="offer">
                <h2>Latest Offers</h2>
                <div class="l">
                    <div class="offer-item">

                    </div>


                </div>

            </div>
        </div>

            
    </div>
    
</body>
</html>