<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div class="login">

        <form class="form">
            <h1>LOGIN</h1>

            <input class="in"  name="user_name" type="text" required placeholder="USER NAME">
            <input class="in" name="user_pwd" type="password" required placeholder="PASSWORD">
            <button>Login</button>
            <div></div>
            <div style=" display:grid;place-content: center; text-align:start;gap:5px;">
                <hr><a href="#">Register, your self</a>
            
                <a href="#">Owner Login</a>
            </div>
        </form>
    </div>
    
</body>
</html>