<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>register</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div class="top_bar">
        <h2>Singh.com</h2>
    </div>
    <div class="login">
        

        <form class="form">
            <h3>Create account </h3>
            <div style="display: flex; flex-direction:column;">
            <label class="lable">Enter Mobile No.</label>
            <input class="in"  name="user_name"  required>
            </div>
            <div style="display: flex; flex-direction:column;align-items:start;">
            <label class="lable">Enter Password</label>

            <input class="in" name="user_pwd" type="password" required>
            <br>By continuing, you agree to Singh's <a href="#">T&C</a>.


            </div>
            <button class="btn">Create account</button>
            <div></div>

        </form>

    </div>
    

    <div style="display: grid; place-content:center;gap:0.5rem;margin:0px;padding:1rem;font-size:small;">
        <p>Some Important Links</p>

        <a href="#">Login</a>

        <a href="#">Owner Login</a>
        <br>
        <h5>© 2025, Singh.com, Inc. or its affiliates</h5>
    </div>
    
</body>
</html>